/* Shanoy Font Declaration */
@font-face {
    font-family: 'Shanoy';
    src: url('../assets/fonts/shanoy-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shanoy';
    src: url('../assets/fonts/shanoy-italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}